body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Muli;
}

div {
  width: auto;
}

h1 {
  font-weight: 400;
  font-size: 42pt;
  margin: -10px 0;
}

h2 {
  font-weight: 200;
  font-size: 16pt;
}

.mail {
  width: 50px;
  align-self: center;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.mail:hover {
  opacity: 1;
}
